{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Банковская система управления депозитами и вкладами</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Добро пожаловать</h5>
                <p class="card-text">Используйте вкладки в навигационной панеле для просмотра информации.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}